h1 {
  text-align: center;
}
.modal-btn {
  background-color: transparent;
  border: none;
}
.category {
  margin: 25px;
  width: 284px;
  height: 80px;
  padding: 20px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  background-color: #6200ee;
  color: white;
}
.user-deets {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.category-link {
  text-decoration: none;
  color: white;
}
.category-link:visited {
  text-decoration: none;
  color: white;
}
.profile-pic {
  border-radius: 100px;
  border: 5px solid white;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
#user-name {
  font-size: 16px;
  font-weight: 700;
  margin: 2px;
  margin-left: 15px;
  color: white;
}
.category-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.task-title {
  margin: 2px;
  margin-left: 15px;
  text-align: left;
  color: white;
}
#due-dates {
  background-color: #03dac5;
  text-align: center;
  border-radius: 3px;
  height: 24px;
  margin-left: 80px;
  margin-right: 0px;
  margin-bottom: 80px;
  width: 75px;
  color: white;
}
#due-dates p {
  margin: 0px;
}

.MuiSvgIcon-root {
  padding-right: 10px;
  margin-bottom: -5px;
}
